@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin-left: 5em;
    margin-right: 5em;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 0.1em;

    .nav {
        width: 55%;
        height: auto;
        background-color: gainsboro;
        border-radius: 2em;
        position: fixed;
        border: 1px solid blanchedalmond;

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
        }

        ul li {
            margin-left: 2em;
        }

        a {
            text-decoration: none;
            margin-right: 5em;
            color: black;
        }
    }
}

#home {
    width: 100%;
    height: 60vh;
    padding-top: 15em;
    margin-left: 5em;

    .main-content {
        display: flex;
        justify-content: space-around;

        .content {
            width: 50%;
            height: 50%;

            margin-top: 2em;
            font-size: 1.5vw;

            .content-hello {
                font-size: 1.8vw;
            }

            .content-name {
                font-size: 5vw;
                font-weight: 700;
            }

            .content-creature {
                color: #900C3F;
                width: 17.1em;
            }

            .content-creature:hover {
                text-shadow: 0 0 20px gold, 0 0 20px gold;
                cursor: pointer;
            }
        }

        .me {
            width: 23em;
            height: 23em;
            border-radius: 200px;
            object-fit: cover;
            margin-right: 10em;
        }
    }
}

#about {
    width: 100%;
    height: 100vh;
    padding-top: 10em;

    .main-about {
        width: 100%;
        height: auto;

        .about-centering {
            display: block;
            text-align: center;

            .about-creature {
                font-size: 6vw;
                font-weight: 900;
            }

            .about-info {
                font-size: 1.5vw;
            }
        }

        .about-me {
            margin-top: 1em;
            margin-left: 1em;
            font-size: 2vw;
            font-weight: 900;
        }

        .about-more-info {
            padding: 1.4em;
            font-size: 1.6vw;
            font-weight: 500;
        }

        .about-education {
            margin-left: 1em;
            font-size: 2vw;
            font-weight: 900;
        }

        .about-flex {
            display: flex;

        }

        .about-primary,
        .about-secondary,
        .about-tertiary {
            font-size: 1.8vw;
            font-weight: 900;
            margin-top: 1em;
            margin-left: 1em;
        }

        .about-school {
            padding: 2.5em;
            font-size: 1vw;
            font-weight: 500;
        }
    }
}

#project {
    width: 100%;
    height: 60vh;
    padding-top: 15%;
    display: block;
    text-align: center;

    .project-title {
        font-size: 6vw;
        font-weight: 900;
    }

    .project-info {
        color: #524A4E;
        margin-top: 1%;
        font-size: 8vw;
        font-weight: 600;
    }
}

#contact {
    padding-top: 9em;
    margin-top: 9em;
    width: 100%;
    height: 100vh;

    .contact-me {
        font-size: 6vw;
        font-weight: 900;
    }

    .contact-about {
        font-size: 1.5vw;
        color: #524A4E;
        margin-top: 1em;
    }

    .icon {
        width: 25%;
        height: auto;
        margin-top: 2em;
        display: flex;

        .fa-google,
        .fa-facebook {
            color: #900C3F;
            font-size: 5em;
        }

        .fa-facebook {
            margin-left: 2em;
        }
    }
}

.char{
    transform: translateX(-200px);
    transition: transform .5s;
}

@media only screen and (min-width : 320px)
and (max-width : 600px){
    body {
        margin: 0;
    }

    .center {
        display: flex;
        justify-content: center;

        .nav {
            width: 80%;
            height: auto;
            position: fixed;
            z-index: 10000;
            margin-top: 1em;

            a {
                font-size: 4vw;
                margin-right: 2em;
            }

            ul li {
                margin-left: 0;
            }
        }
    }

    #home {
        padding-top: 12em;
        margin-left: 0;

        .main-content {
            display: flex;
            flex-direction: column-reverse;

            .content {
                text-align: center;
                width: 25em;
                font-size: 3vw;
                position: relative;
                left: 4em;

                .content-hello {
                    font-size: 4vw;
                    font-weight: 600;
                }

                .content-name {
                    font-size: 7vw;
                    font-weight: 900;
                }

                .content-creature {
                    margin-left: 4em;
                    color: #900C3F;
                    width: 17.1em;
                    font-weight: 600;
                }

                .text {
                    font-size: 4vw;
                }
            }

            .me {
                width: 16em;
                height: 16em;
                margin-right: 0;
                position: relative;
                bottom: 3em;
                left: 6.5em;
                z-index: -1;
            }
        }
    }

    #about {
        margin-top: 10em;

        .main-about {
            width: 100%;
            height: auto;

            .about-centering {
                display: block;
                text-align: center;

                .about-creature {
                    font-size: 10vw;
                    font-weight: 900;
                }

                .about-info {
                    font-size: 4vw;
                    color: grey;
                }
            }

            .about-me {
                font-size: 6vw;
                font-weight: 900;
                margin-right: 1em;
            }

            .about-more-info {
                padding: 1.4em;
                font-size: 4vw;
                font-weight: 500;
                color: gray;
            }

            .about-education {
                margin-left: 1em;
                font-size: 6vw;
                font-weight: 900;
            }

            .about-flex {
                display: block;
            }

            .about-primary,
            .about-secondary,
            .about-tertiary {
                font-size: 6vw;
                font-weight: 900;
                margin-top: 1em;
                margin-right: 12em;
            }

            .about-school {
                font-size: 3vw;
                font-weight: 500;
                color: grey;
            }
        }
    }

    #project {
        height: 37vh;
        margin-top: 60em;
        padding-top: 40%;

        .project-title {
            font-size: 8vw;
            font-weight: 900;
        }

        .project-info {
            color: #524A4E;
            margin-top: 1%;
            font-size: 5vw;
            font-weight: 600;
        }
    }

    #contact {
        padding-top: 9em;
        margin-top: 9em;
        width: 100%;
        text-align: center;
        height: 50vh;
        .contact-me {
            font-size: 15vw;
            font-weight: 900;
        }

        .contact-about {
            font-size: 5vw;
            color: #524A4E;
            margin-top: 1em;
        }

        .icon {
            width: 90%;
            height: auto;
            margin-top: 2em;
            display: flex;
            justify-content: center;
            text-align: center;
            .fa-google,
            .fa-facebook {
                color: #900C3F;
                font-size: 17vw;
            }
        }
    }
}
@media only screen and (min-device-width : 320px)
and (max-device-width : 600px){
    body {
        margin: 0;
    }

    .center {
        display: flex;
        justify-content: center;

        .nav {
            width: 80%;
            height: auto;
            position: fixed;
            z-index: 10000;
            margin-top: 1em;

            a {
                font-size: 4vw;
                margin-right: 2em;
            }

            ul li {
                margin-left: 0;
            }
        }
    }

    #home {
        padding-top: 12em;
        margin-left: 0;

        .main-content {
            display: flex;
            flex-direction: column-reverse;

            .content {
                text-align: center;
                width: 25em;
                font-size: 3vw;
                position: relative;
                left: 4em;

                .content-hello {
                    font-size: 4vw;
                    font-weight: 600;
                }

                .content-name {
                    font-size: 7vw;
                    font-weight: 900;
                }

                .content-creature {
                    margin-left: 4em;
                    color: #900C3F;
                    width: 17.1em;
                    font-weight: 600;
                }

                .text {
                    font-size: 4vw;
                }
            }

            .me {
                width: 16em;
                height: 16em;
                margin-right: 0;
                position: relative;
                bottom: 3em;
                left: 16%;
                z-index: -1;
            }
        }
    }

    #about {
        margin-top: 10em;

        .main-about {
            width: 100%;
            height: auto;

            .about-centering {
                display: block;
                text-align: center;

                .about-creature {
                    font-size: 10vw;
                    font-weight: 900;
                }

                .about-info {
                    font-size: 4vw;
                    color: grey;
                }
            }

            .about-me {
                font-size: 6vw;
                font-weight: 900;
                margin-right: 1em;
            }

            .about-more-info {
                padding: 1.4em;
                font-size: 4vw;
                font-weight: 500;
                color: gray;
            }

            .about-education {
                margin-left: 1em;
                font-size: 6vw;
                font-weight: 900;
            }

            .about-flex {
                display: block;
            }

            .about-primary,
            .about-secondary,
            .about-tertiary {
                font-size: 6vw;
                font-weight: 900;
                margin-top: 1em;
                margin-right: 12em;
            }

            .about-school {
                font-size: 3vw;
                font-weight: 500;
                color: grey;
            }
        }
    }

    #project {
        height: 37vh;
        margin-top: 60em;
        padding-top: 40%;

        .project-title {
            font-size: 8vw;
            font-weight: 900;
        }

        .project-info {
            color: #524A4E;
            margin-top: 1%;
            font-size: 5vw;
            font-weight: 600;
        }
    }

    #contact {
        padding-top: 9em;
        margin-top: 9em;
        width: 100%;
        text-align: center;
        height: 50vh;
        .contact-me {
            font-size: 15vw;
            font-weight: 900;
        }

        .contact-about {
            font-size: 5vw;
            color: #524A4E;
            margin-top: 1em;
        }

        .icon {
            width: 90%;
            height: auto;
            margin-top: 2em;
            display: flex;
            justify-content: center;
            text-align: center;
            .fa-google,
            .fa-facebook {
                color: #900C3F;
                font-size: 17vw;
            }
        }
    }
}
@media only screen and (min-width : 601px) 
and (max-width : 768px){
    body{
        margin: 0;
    }

    .center {
        display: flex;
        justify-content: center;
        .nav {
            width: 80%;
            height: auto;
            position: fixed;
            z-index: 10000;
            margin-top: 1em;
            a {
                font-size: 2vw;
                margin-right: 4em;
            }

            ul li {
                margin-left: 0;
            }
        }
    }

    #home {
        padding-top: 10em;
        margin-left: 0;

        .main-content {
            display: flex;
            flex-direction: column-reverse;

            .content {
                text-align: center;
                width: 25em;
                font-size: 3vw;
                position: relative;
                left: 4em;

                .content-hello {
                    font-size: 4vw;
                    font-weight: 600;
                }

                .content-name {
                    font-size: 7vw;
                    font-weight: 900;
                }

                .content-creature {
                    margin-left: 4em;
                    color: #900C3F;
                    width: 17.1em;
                    font-weight: 600;
                }

                .text {
                    font-size: 2vw;
                }
            }

            .me {
                width: 16em;
                height: 16em;
                margin-right: 0;
                position: relative;
                bottom: 3em;
                left: 16.5em;
                z-index: -1;
            }
        }
    }

    #about {
        margin-top: 6em;

        .main-about {
            width: 100%;
            height: auto;

            .about-centering {
                display: block;
                text-align: center;

                .about-creature {
                    font-size: 6vw;
                    font-weight: 900;
                }

                .about-info {
                    font-size: 2.5vw;
                    color: grey;
                    margin: 2em;
                }
            }

            .about-me {
                font-size: 4vw;
                font-weight: 900;
            }

            .about-more-info {
                padding: 1.4em;
                font-size: 2.7vw;
                font-weight: 500;
                color: gray;
            }

            .about-education {
                margin-left: 1em;
                font-size: 4vw;
                font-weight: 900;
            }

            .about-flex {
                display: block;
            }

            .about-primary,
            .about-secondary,
            .about-tertiary {
                font-size: 4vw;
                font-weight: 900;
                margin-top: 1em;
                margin-right: 12em;
            }

            .about-school {
                font-size: 2vw;
                font-weight: 500;
                color: grey;
            }
        }
    }

    #project {
        width: 100%;
        height: 60vh;
        padding-top: 35%;
        display: block;
        text-align: center;
        margin-top: 60em;
        .project-title {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .project-info {
            color: #524A4E;
            margin-top: 1%;
            font-size: 3vw;
            font-weight: 600;
        }
    }

    #contact {
        padding-top: 16em;
        margin-top: 16em;
        width: 100%;
        height: 100vh;
    
        .contact-me {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .contact-about {
            font-size: 3vw;
            color: #524A4E;
            margin-top: 1em;
        }
    
        .icon {
            width: 25%;
            height: auto;
            margin-top: 6.5em;
            display: flex;
            margin-left: 18em;
            .fa-google,
            .fa-facebook {
                color: #900C3F;
                font-size: 5em;
            }
        }
    }
}
@media only screen and (min-device-width : 601px) 
and (max-device-width : 768px){
    body{
        margin: 0;
    }

    .center {
        display: flex;
        justify-content: center;
        .nav {
            width: 80%;
            height: auto;
            position: fixed;
            z-index: 10000;
            margin-top: 1em;
            a {
                font-size: 2vw;
                margin-right: 4em;
            }

            ul li {
                margin-left: 0;
            }
        }
    }

    #home {
        padding-top: 10em;
        margin-left: 0;

        .main-content {
            display: flex;
            flex-direction: column-reverse;

            .content {
                text-align: center;
                width: 25em;
                font-size: 3vw;
                position: relative;
                left: 4em;

                .content-hello {
                    font-size: 4vw;
                    font-weight: 600;
                }

                .content-name {
                    font-size: 7vw;
                    font-weight: 900;
                }

                .content-creature {
                    margin-left: 4em;
                    color: #900C3F;
                    width: 17.1em;
                    font-weight: 600;
                }

                .text {
                    font-size: 2vw;
                }
            }

            .me {
                width: 16em;
                height: 16em;
                margin-right: 0;
                position: relative;
                bottom: 3em;
                left: 16.5em;
                z-index: -1;
            }
        }
    }

    #about {
        margin-top: 6em;

        .main-about {
            width: 100%;
            height: auto;

            .about-centering {
                display: block;
                text-align: center;

                .about-creature {
                    font-size: 6vw;
                    font-weight: 900;
                }

                .about-info {
                    font-size: 2.5vw;
                    color: grey;
                    margin: 2em;
                }
            }

            .about-me {
                font-size: 4vw;
                font-weight: 900;
            }

            .about-more-info {
                padding: 1.4em;
                font-size: 2.7vw;
                font-weight: 500;
                color: gray;
            }

            .about-education {
                margin-left: 1em;
                font-size: 4vw;
                font-weight: 900;
            }

            .about-flex {
                display: block;
            }

            .about-primary,
            .about-secondary,
            .about-tertiary {
                font-size: 4vw;
                font-weight: 900;
                margin-top: 1em;
                margin-right: 12em;
            }

            .about-school {
                font-size: 2vw;
                font-weight: 500;
                color: grey;
            }
        }
    }

    #project {
        width: 100%;
        height: 60vh;
        padding-top: 35%;
        display: block;
        text-align: center;
        margin-top: 60em;
        .project-title {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .project-info {
            color: #524A4E;
            margin-top: 1%;
            font-size: 3vw;
            font-weight: 600;
        }
    }

    #contact {
        padding-top: 16em;
        margin-top: 16em;
        width: 100%;
        height: 100vh;
    
        .contact-me {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .contact-about {
            font-size: 3vw;
            color: #524A4E;
            margin-top: 1em;
        }
    
        .icon {
            width: 25%;
            height: auto;
            margin-top: 6.5em;
            display: flex;
            margin-left: 18em;
            .fa-google,
            .fa-facebook {
                color: #900C3F;
                font-size: 5em;
            }
        }
    }
}
@media only screen and (min-width : 769px) 
and (max-width : 1024px){
    body{
        margin: 0;
    }

    .center {
        display: flex;
        justify-content: center;
        .nav {
            width: 80%;
            height: auto;
            position: fixed;
            z-index: 10000;
            margin-top: 1em;
            a {
                font-size: 2vw;
                margin-right: 4em;
            }

            ul li {
                margin-left: 0;
            }
        }
    }

    #home {
        padding-top: 10em;
        margin-left: 0;

        .main-content {
            display: flex;
            flex-direction: column-reverse;

            .content {
                text-align: center;
                width: 25em;
                font-size: 3vw;
                position: relative;
                left: 4em;

                .content-hello {
                    font-size: 4vw;
                    font-weight: 600;
                }

                .content-name {
                    font-size: 7vw;
                    font-weight: 900;
                }

                .content-creature {
                    margin-left: 4em;
                    color: #900C3F;
                    width: 17.1em;
                    font-weight: 600;
                }

                .text {
                    font-size: 2vw;
                }
            }

            .me {
                width: 16em;
                height: 16em;
                margin-right: 0;
                position: relative;
                top: 1em;
                left: 23.7em;
                z-index: -1;
            }
        }
    }

    #about {
        margin-top: 6em;

        .main-about {
            width: 100%;
            height: auto;

            .about-centering {
                display: block;
                text-align: center;

                .about-creature {
                    font-size: 6vw;
                    font-weight: 900;
                }

                .about-info {
                    font-size: 2.5vw;
                    color: grey;
                    margin: 2em;
                }
            }

            .about-me {
                font-size: 4vw;
                font-weight: 900;
            }

            .about-more-info {
                padding: 1.4em;
                font-size: 2.7vw;
                font-weight: 500;
                color: gray;
            }

            .about-education {
                margin-left: 1em;
                font-size: 4vw;
                font-weight: 900;
            }

            .about-flex {
                display: block;
            }

            .about-primary,
            .about-secondary,
            .about-tertiary {
                font-size: 4vw;
                font-weight: 900;
                margin-top: 1em;
                margin-right: 12em;
            }

            .about-school {
                font-size: 2vw;
                font-weight: 500;
                color: grey;
            }
        }
    }

    #project {
        width: 100%;
        height: 60vh;
        padding-top: 35%;
        display: block;
        text-align: center;
        margin-top: 60em;
        .project-title {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .project-info {
            color: #524A4E;
            margin-top: 1%;
            font-size: 3vw;
            font-weight: 600;
        }
    }

    #contact {
        padding-top: 16em;
        margin-top: 16em;
        width: 100%;
        height: 100vh;
    
        .contact-me {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .contact-about {
            font-size: 3vw;
            color: #524A4E;
            margin-top: 1em;
        }
    
        .icon {
            width: 25%;
            height: auto;
            margin-top: 6.5em;
            display: flex;
            margin-left: 18em;
            .fa-google,
            .fa-facebook {
                color: #900C3F;
                font-size: 5em;
            }
        }
    }
}
@media only screen and (min-device-width : 769px) 
and (max-device-width : 1024px){
    body{
        margin: 0;
    }

    .center {
        display: flex;
        justify-content: center;
        .nav {
            width: 80%;
            height: auto;
            position: fixed;
            z-index: 10000;
            margin-top: 1em;
            a {
                font-size: 2vw;
                margin-right: 4em;
            }

            ul li {
                margin-left: 0;
            }
        }
    }

    #home {
        padding-top: 10em;
        margin-left: 0;

        .main-content {
            display: flex;
            flex-direction: column-reverse;

            .content {
                text-align: center;
                width: 25em;
                font-size: 3vw;
                position: relative;
                left: 4em;

                .content-hello {
                    font-size: 4vw;
                    font-weight: 600;
                }

                .content-name {
                    font-size: 7vw;
                    font-weight: 900;
                }

                .content-creature {
                    margin-left: 4em;
                    color: #900C3F;
                    width: 17.1em;
                    font-weight: 600;
                }

                .text {
                    font-size: 2vw;
                }
            }

            .me {
                width: 16em;
                height: 16em;
                margin-right: 0;
                position: relative;
                top: 1em;
                left: 23.7em;
                z-index: -1;
            }
        }
    }

    #about {
        margin-top: 6em;

        .main-about {
            width: 100%;
            height: auto;

            .about-centering {
                display: block;
                text-align: center;

                .about-creature {
                    font-size: 6vw;
                    font-weight: 900;
                }

                .about-info {
                    font-size: 2.5vw;
                    color: grey;
                    margin: 2em;
                }
            }

            .about-me {
                font-size: 4vw;
                font-weight: 900;
            }

            .about-more-info {
                padding: 1.4em;
                font-size: 2.7vw;
                font-weight: 500;
                color: gray;
            }

            .about-education {
                margin-left: 1em;
                font-size: 4vw;
                font-weight: 900;
            }

            .about-flex {
                display: block;
            }

            .about-primary,
            .about-secondary,
            .about-tertiary {
                font-size: 4vw;
                font-weight: 900;
                margin-top: 1em;
                margin-right: 12em;
            }

            .about-school {
                font-size: 2vw;
                font-weight: 500;
                color: grey;
            }
        }
    }

    #project {
        width: 100%;
        height: 60vh;
        padding-top: 35%;
        display: block;
        text-align: center;
        margin-top: 60em;
        .project-title {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .project-info {
            color: #524A4E;
            margin-top: 1%;
            font-size: 3vw;
            font-weight: 600;
        }
    }

    #contact {
        padding-top: 16em;
        margin-top: 16em;
        width: 100%;
        height: 100vh;
    
        .contact-me {
            font-size: 6vw;
            font-weight: 900;
        }
    
        .contact-about {
            font-size: 3vw;
            color: #524A4E;
            margin-top: 1em;
        }
    
        .icon {
            width: 25%;
            height: auto;
            margin-top: 6.5em;
            display: flex;
            margin-left: 18em;
            .fa-google,
            .fa-facebook {
                color: #900C3F;
                font-size: 5em;
            }
        }
    }
}