@import "tailwindcss";
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
