---

---

<div id="contact" class="w-full px-2 pb-2 xl:px-64">
  <div
    class="dark:bg-[#171717] dark:border-black/10 font-montserrat lg:border-none border border-gray-300 rounded-xl p-10 flex flex-col justify-center items-center"
  >
    <span class="text-2xl font-bold mb-2 dark:text-white/70"> Contact Me </span>
    <span class="text-justify mt-2 dark:text-white/50 lg:w-3xl"
      >Feel free to reach out to me for any inquiries, collaborations, or
      opportunities. I'm always open to connecting with fellow developers, tech
      enthusiasts, and potential clients. You can contact me via email and
      social media.</span
    >
    <div class="w-full mt-5 flex gap-4 justify-evenly dark:text-white/70">
      <a
        href=""
        class="transition duration-300 hover:text-amber-600 dark:hover:drop-shadow-[0_0_12px_rgba(251,191,36,0.9)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
          <path
            d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m-8.61 10.79c.18.14.4.21.61.21s.43-.07.61-.21l1.55-1.21L18.58 18H5.41l4.42-4.42 1.55 1.21ZM20 6v.51l-8 6.22-8-6.22V6zm0 3.04v7.54l-4.24-4.24zm-11.76 3.3L4 16.58V9.04zM20 18"
          ></path>
        </svg>
      </a>
      <a
        href=""
        class="transition duration-300 hover:text-amber-600 dark:hover:drop-shadow-[0_0_12px_rgba(251,191,36,0.9)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
          <path d="M18 3a3 3 0 1 0 0 6 3 3 0 1 0 0-6"></path><path
            d="M19.87 10.63c.08.45.13.9.13 1.37 0 4.41-3.59 8-8 8H4.91L6 18.43c.26-.37.23-.88-.06-1.22A7.98 7.98 0 0 1 4.01 12c0-4.41 3.59-8 8-8 .47 0 .92.05 1.37.13.28-.68.7-1.28 1.23-1.77-.83-.22-1.7-.36-2.6-.36C6.49 2 2 6.49 2 12c0 2.12.68 4.19 1.93 5.9l-1.75 2.53c-.21.31-.24.7-.06 1.03.17.33.51.54.89.54h9c5.51 0 10-4.49 10-10 0-.9-.13-1.77-.36-2.6-.49.53-1.09.95-1.77 1.23Z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
