---

---

<div id="project" class="w-full px-2 pb-2 xl:px-64">
  <div
    class="font-montserrat dark:bg-[#171717] dark:border-black/10 lg:border-none border border-gray-300 rounded-xl p-10 flex flex-col justify-center items-center"
  >
    <span class="text-2xl font-bold mb-2 dark:text-white/70"> Projects </span>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="w-full rounded-xl">
        <div class="relative overflow-hidden rounded-xl group">
          <img
            src="/images/ss1.png"
            alt=""
            class="w-full rounded-xl transform transition duration-300 ease-out group-hover:scale-105"
          />

          <!-- Overlay -->
          <div
            class="absolute inset-0 bg-black/60 opacity-0 transition duration-300 group-hover:opacity-100 flex items-center justify-center"
          >
            <span
              class="text-white font-semibold text-xl px-4 py-2 scale-90 transition"
            >
              View
            </span>
          </div>
        </div>
        <p class="font-bold mt-2 dark:text-white/70">URSatisfaction Model</p>
        <div class="w-full mt-2 gap-2 flex flex-wrap">
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            Python
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            PyTorch
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            NLTK
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            Machine learning
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            Pandas
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            Flask
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            NumPy
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            Google Colab
          </span>
        </div>
      </div>
      <div class="w-full rounded-xl lg:mt-0 mt-2">
        <!-- Image wrapper -->
        <div class="relative overflow-hidden rounded-xl group">
          <img
            src="/images/ss2.png"
            alt=""
            class="w-full rounded-xl transform transition duration-300 ease-out group-hover:scale-105"
          />

          <!-- Overlay -->
          <div
            class="absolute inset-0 bg-black/80 opacity-0 transition duration-300 group-hover:opacity-100 flex items-center justify-center"
          >
            <span
              class="text-white font-semibold text-xl px-4 py-2 scale-90 transition"
            >
              View
            </span>
          </div>
        </div>

        <p class="font-bold mt-2 dark:text-white/70">URSatisfaction</p>

        <div class="w-full mt-2 gap-2 flex flex-wrap">
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            PHP
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            TailwindCSS
          </span>
          <span
            class="dark:text-white dark:border-gray-600 dark:bg-[#212121] text-center rounded-full bg-gray-200 px-2 py-1 text-sm border-gray-700 border"
          >
            Web Application
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
